{% extends "encyclopedia/layout.html" %}

{% block titel %}
    Search
{% endblock %}

{% block body %}
    {% if results %}
    <ul>
        {% for result in results %}
        <li><a href="/{{ result }}">{{ result }}</a> </li>
        {% endfor %}
    </ul>
    {% else %}
    <h2>No results, try again</h2>
    <form action="{% url 'search' %}" method="get">
        <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
        <input type="submit" value="Search">
    </form>
    {% endif %}

{% endblock %}